body
{
    font-family:proxima-nova, 'Helvetica Neue', Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

.no-title .ui-dialog-titlebar {
  display: none;
}

.button {
  display: inline-block;
}

.ui-dialog {
    font-size: 12px;
    overflow: visible;
}

.ui-widget {
    font-family:proxima-nova, 'Helvetica Neue', Arial, sans-serif;
}

.ui-tooltip-content {
    font-size: 10px;
}

.pageTitle
{
    font-size: 20px;
    font-weight: 100;
}

.pageSubTitle
{
    font-size: 12px;
    font-weight: 100;
}

.pageTitleImage
{
    vertical-align: middle;
}

.hidden
{
    display: none;
}

#board
{
    // width: 910px;
    // min-height:100px;

    // position:relative;
    // display: inline;
}

#projectSelector
{
    margin: 10px;
}

.column.over
{
    border: 2px dashed #000;
}

.column
{
    display: inline-block;
    float: left;
    margin-left: -1px; 
    height: 100%;
    min-height:150px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(251,251,251);
    font-size: 14px;
    vertical-align: top;
    cursor: pointer;
}

.columnTitle
{
    background-color:#DDDDDC;
    text-align:center;
    // color:black;
    padding: 2px 0px;
}

*[draggable=true]
{
    // float:left;
    // min-width: 50px;
    // min-height: 50px;

    // font-weight:bold;

    // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.63, white), color-stop(0.92, rgb(5,161,245)));
    // background-image:-moz-linear-gradient( center top, white 63%, rgb(5,161,245) 92%);
    // -webkit-background-size:1px 8px;
    // -moz-background-size:1px 8px;
    // background-size:1px 8px;
    // background-repeat:repeat;
}

.cardPadding
{
    min-height: 10px;
    cursor: pointer;
    height: 100%;
}

.plus, .load
{
    height: 16px;
    width: 16px;
    padding: 10px;
    margin: 0 auto;
}

.cardContainer
{
    margin: 0 10px;
}

.card
{
    background-color: rgb(255,255,255);
    cursor: move;
    border: 1px solid black;
    min-height:60px;
    font-family:proxima-nova, 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    position: relative;  // this allows the .cardValue position to be relative to this element
}

.card.shadow {
    background-color: darkgray;
    border: none;
    opacity: 0.1;
    margin: 10px 10px 0 10px;
}

.cardTitle
{
    // background-color: rgb(255,255,255);
    border:2px solid white;
    resize: none;
    width: 147px;
}

.cardValue
{
    float: right;

    // border:2px solid white;
    // height: 100%;
    resize: none;
    text-align: center;
    line-height: 9px;
    width: 27px;
    position: absolute;
    left: 149px;
    bottom: 0px;
    border: 2px;
}

.cardAssignee
{
    float: right;
    padding: 2px;
}

.tag {
    font-size: 10px;
    border-width: 2px;
    border-style: solid;
}

.tagRemove {
    color: white;
    padding-left: 3px;
    text-decoration: none;
}

.tagAdd {
    padding-left: 2px;
    text-decoration: none;
}

.no-color {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}

.dark-pink {
  color: rgb(246,231,239);
  background-color: rgb(177,63,148);
  border-color: rgb(177,63,148);
}

.dark-green {
  color: rgb(222,229,198);
  background-color: rgb(66,126,83);
  border-color: rgb(66,126,83);
}

.dark-blue {
  color: rgb(219,225,235);
  background-color: rgb(60,104,187);
  border-color: rgb(60,104,187);
}

.dark-red {
  color: rgb(219,225,235);
  background-color: rgb(199,63,39);
  border-color: rgb(199,63,39);
}

.dark-teal {
  color: rgb(235,243,247);
  background-color: rgb(0,142,170);
  border-color: rgb(0,142,170);
}

.dark-brown {
  color: rgb(254,245,215);
  background-color: rgb(144,100,97);
  border-color: rgb(144,100,97);
}

.dark-orange {
  color: rgb(247,230,216);
  background-color: rgb(255,112,0);
  border-color: rgb(255,112,0);
}

.dark-purple {
  color: rgb(230,223,235);
  background-color: rgb(103,67,179);
  border-color: rgb(103,67,179);
}

.dark-warm-gray {
  color: rgb(231,232,230);
  background-color: rgb(73,60,61);
  border-color: rgb(73,60,61);
}

.light-pink {
  color: rgb(109,34,93);
  background-color: rgb(244,182,219);
  border-color: rgb(244,182,219);
}

.light-green {
  color: rgb(36,66,40);
  background-color: rgb(201,219,156);
  border-color: rgb(201,219,156);
}

.light-blue {
  color: rgb(21,41,81);
  background-color: rgb(182,195,219);
  border-color: rgb(182,195,219);
}

.light-red {
  color: rgb(84,21,21);
  background-color: rgb(239,189,189);
  border-color: rgb(239,189,189);
}

.light-teal {
  color: rgb(9,55,58);
  background-color: rgb(170,209,235);
  border-color: rgb(170,209,235);
}

.light-yellow {
  color: rgb(75,53,53);
  background-color: rgb(255,237,164);
  border-color: rgb(255,237,164);
}

.light-orange {
  color: rgb(127,61,6);
  background-color: rgb(250,205,170);
  border-color: rgb(250,205,170);
}

.light-purple {
  color: rgb(42,20,86);
  background-color: rgb(218,202,224);
  border-color: rgb(218,202,224);
}

.light-warm-gray {
  color: rgb(26,27,6);
  background-color: rgb(206,197,198);
  border-color: rgb(206,197,198);
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    // font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}
