// burndown chart
.chart {	
    font-family: 'Arial';
    font-size: 13px;
    color: #000;
}
.chart > .axis path,
.chart > .axis line {
    fill: none;
    stroke: #eee;
    stroke-width:2;
    shape-rendering: crispEdges;
}
.chart > .axis .tick line {	
    fill: none;
    stroke: #999;
    stroke-width:2;
}
.chart > path.ideal {
    stroke: #eee;
    stroke-width:5;
    stroke-linecap:round;
}
.chart > path.actual {
    stroke: #91E500;
    stroke-width:2;
    stroke-linecap:round;
    fill: none;
    /*fill: rgba(0,0,0,0.1);*/
}
.chart > .grid .tick {
    stroke: #eee;
    opacity: 0.5;
}
